<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Blog</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Alpha - Elapse</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-11-21T17:55:32Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>EF2C3C99-8795-45E4-96B2-E8478C76F557</string>
					<key>PageDigests</key>
					<dict>
						<key>files/31476cd5e655441533d0b19ed4cffb59-0.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ZBn4CrZVj+MtWtZ9lUjR
							cg==
							</data>
							<key>Size</key>
							<integer>5068</integer>
						</dict>
						<key>files/archive-nov-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							at8H4yTEp94yupi9Mi6Z
							ug==
							</data>
							<key>Size</key>
							<integer>5387</integer>
						</dict>
						<key>files/category-releases.html</key>
						<dict>
							<key>Digest</key>
							<data>
							g5nThwUDTX7JH7chHBkC
							lg==
							</data>
							<key>Size</key>
							<integer>5288</integer>
						</dict>
						<key>files/feed.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							AKjSo98gkYxrXxzHM0Vo
							lA==
							</data>
							<key>Size</key>
							<integer>1406</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							nldLHHhGONQK9OUVNUDm
							yw==
							</data>
							<key>Size</key>
							<integer>5181</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>blog</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
